<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles.css">
  <title>Home</title>
</head>
<body>
  <h1>Welcome to MediCheck</h1>
  <a href="/login">Login</a> | <a href="/register">Register</a>
</body>
</html>