<body class="login-page">
    <form method="POST" action="/login">
      <input name="email" placeholder="Email" required />
      <input name="password" type="password" placeholder="Password" required />
      <button>Login</button>
    </form>
  </body>
  