<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles.css">
  <title>Login</title>
</head>
<body>
  <form method="POST" action="/login">
    <input name="email" placeholder="Email" required />
    <input name="password" type="password" placeholder="Password" required />
    <button>Login</button>
  </form>
</body>
</html>